@page "/"
@using MudBlazor
@using RadioHeardleServer.Data;
@using System.Globalization;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStore

@inject IJSRuntime JsRuntime;
@inject FileOperationsService fileOperationsService;


<PageTitle>Radioheardle</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small">
	@if (loading)
	{
		<MudStack Justify="Justify.Center">
			<MudCard >
				<MudCardContent>
					<MudText Align="Align.Center" Typo="Typo.body1">Loading...</MudText>
				</MudCardContent>
			</MudCard>
		</MudStack>
	}
	else
	{
	<MudContainer >
		<MudStack Row=true Justify="Justify.SpaceBetween">
				<MudButton Color="Color.Surface" OnClick="OnOpenHelp">About</MudButton>
			<MudButton Color="Color.Surface" OnClick="OnOpenStats">Stats</MudButton>
		</MudStack>
	<MudStack>
		<MudCard >
			<MudCardContent>
				<MudText Align="Align.Right"><h1>Radioheardle</h1></MudText>
				<MudText>@_editionDate</MudText>
				<MudProgressLinear Color="@BarColour" Value="@BufferValue" Class="my-7" Size="Size.Medium" />
				<MudProgressLinear Color="Color.Primary" Value="@Value" Class="my-7" Size="Size.Large" />
				<MudSwitch @bind-Checked="@PlaySwitch" Label="Play" Color="Color.Success" />
			</MudCardContent>
		</MudCard>

		<MudText hidden="@gameIncomplete" Align="Align.Center" Typo="Typo.h4">@_songName</MudText>

		<MudStack Justify="Justify.Center">
			<MudChip hidden="@gameIncomplete" Color="@chipColor" Text="@chipText"></MudChip>
		</MudStack>

		<MudCard hidden="@GameCompleted">
			<MudCardContent>
				<MudStack Row=true Spacing="4">
					<MudButton @onclick="@HandleOnSkip" Disabled="@GameCompleted">@Skip</MudButton>
					<MudButton @onclick="@HandleOnGuess" Disabled="@GameCompleted">Guess</MudButton>
				</MudStack>
				<MudAutocomplete T="string" @bind-Value="@GuessText" Disabled="@GameCompleted" SearchFunc="@AutoComplete" MaxItems=5>
						<MoreItemsTemplate>
							<MudText Align="Align.Center" Class="px-4 py-1">
								...
							</MudText>
						</MoreItemsTemplate>
					</MudAutocomplete>
			</MudCardContent>
		</MudCard>

	</MudStack>

		<!-- STATS -->
			<MudOverlay Style="opacity:0.98" @bind-Visible="_statsVisible" DarkBackground="true">
		<MudStack>
			<MudCard>
				<MudCardContent>
					<MudStack Justify="Justify.SpaceBetween" Row=true>
						<MudStack>
						<MudButton Size="Size.Small" Variant="Variant.Text" Color="Color.Surface" OnClick="OnCloseOverlay">Close</MudButton>
						<MudItem></MudItem>
								</MudStack>
						<MudText Class="pa-4" Align="Align.Right" Color="Color.Info"><h2>Stats</h2></MudText>
					</MudStack>
					<MudGrid Justify="Justify.SpaceEvenly">
						<MudTr>
							<StatsBadge Description="Played" Stat="@_gamesPlayed"></StatsBadge>
						</MudTr>
						<MudTr>
							<StatsBadge Description="Win Percent" Stat="@_winPercentage" IsPercent=true></StatsBadge>
						</MudTr>
						<MudTr>
							<StatsBadge Description="Current Streak" Stat="@_streak"></StatsBadge>
						</MudTr>
					</MudGrid>
			
					<MudChart  ChartType="ChartType.Bar" ChartOptions="@chartOptions" ChartSeries="@Series" XAxisLabels="@XAxisLabels" Width="100%" Height="350px"></MudChart>
					<MudSpacer ></MudSpacer>
					<MudText Class="pa-2" Align="Align.Center">Guess Distribution</MudText>
					</MudCardContent>
			</MudCard>

			<MudCard hidden="@gameIncomplete">
				<MudCardContent>
					<MudTextField @bind-Value="ResultText" Lines="4" Variant="Variant.Outlined" Label="Copy this text to show your mates" ReadOnly="true"></MudTextField>
				</MudCardContent>
			</MudCard>

		</MudStack>

		</MudOverlay>

		<!-- ABOUT -->

			<MudOverlay Style="opacity:0.98" @bind-Visible="@_helpVisible" DarkBackground="true">

			<MudCard>
				<MudCardContent>
					<MudStack Justify="Justify.SpaceBetween" Row=true>
						<MudStack>
								<MudButton Size="Size.Small" Variant="Variant.Text" Color="Color.Surface" OnClick="OnCloseOverlay">Close</MudButton>
							<MudItem></MudItem>
						</MudStack>
						<MudText Class="pa-4" Color="Color.Info" Align="Align.Right"><h2>About</h2></MudText>
					</MudStack>
						<MudText Typo="Typo.body2">Guess the Radiohead song - you get 5 attempts.</MudText>
						<MudText Typo="Typo.body2">Guessing incorrectly or skipping will unlock the next section of the preview.</MudText>
						<MudText Typo="Typo.body2">The song is randomly chosen each day from the first 7 studio albums.</MudText>
				</MudCardContent>
			</MudCard>

		</MudOverlay>

	</MudContainer>
	}

</MudContainer>


<audio id="audioPlayer" src='@_audioAddress' type="audio/mpeg" />


@code {

	private static int _numGuesses = 5;
	private static int _totalSectionDuration = 20;
	private static int[] _sectionDurations = new int[] { 1, 2, 3, 5, 9, 0 };
	private static float _bufferPart = 100 / _totalSectionDuration;
	private static int _bufferTick = _totalSectionDuration * 10;

	public bool GameCompleted { get; set; } = false;
	public int Value { get; set; } = 0;
	public float BufferValue { get; set; } = _bufferPart * _sectionDurations[0];

	public List<ChartSeries> Series { get; set; }
	public string[] XAxisLabels { get; set; }

	public string GuessText { get; set; }
	public string ResultText { get; set; }
	public Color BarColour { get; set; } = Color.Success;

	public string Skip { get; set; } = "Skip";

	private bool gameIncomplete = true;
	private bool _helpVisible = false;
	private bool _statsVisible = false;
	private Color chipColor;
	private string chipText;

	private bool _playSwitch = false;
	public bool PlaySwitch
	{
		get { return _playSwitch; }
		set { _playSwitch = value; HandleOnPlayChanged(); }
	}

	private string[] _skipIcons = new string[_numGuesses];

	private string _guesses = "";

	private string _audioAddress;
	private string _songName;
	private string _editionDate;
	private int _editionVersion;
	private int[] _currentResults;
	private int _lastVersionWon;
	private int _streak;

	private int _localVersion;
	private string _localGuesses;
	private bool _localGameComplete;
	private int[] _localResults;
	private int _localLastVersionWon;
	private int _localStreak;

	private int _winPercentage;
	private int _gamesPlayed;

	private string _cookiesDebugDisplay;

	private bool loading = true;
	private bool loaded = false;

	private bool _disposed;

	public void Dispose() => _disposed = true;

	private IJSObjectReference _jsModule;

	private ChartOptions chartOptions = new ChartOptions()
	{
		LineStrokeWidth = 20.0,
		YAxisTicks = 1,
		DisableLegend = true,
		ChartPalette = new string[] { Colors.Green.Default, Colors.LightBlue.Default }
	};

	//protected override async Task OnAfterRenderAsync(bool firstRender)
	//{
	//	if (firstRender)
	//	{
	//		_jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/SoundScripts.js");
	//		await JsRuntime.InvokeVoidAsync("console.log", "OnAfterRenderAsync");

	//		await LoadLocalStorage();
	//		SetCookiesDebugValues("");
	//		HandleStorageState();
	//		RefreshChartSeries();
	//		StateHasChanged();
	//	}
	//}

	//protected override void OnInitialized()
	//{
	//	RefreshChartSeries();
	//	var songData = fileOperationsService.GetData();
	//	_audioAddress = "./Audio/" + songData._songData._fileName;
	//	_songName = songData._songData._songName;
	//	_editionDate = songData._updateDate.DayOfWeek + " " + songData._updateDate.Date.ToString("d", new CultureInfo("en-GB"));
	//	_editionVersion = songData._version;
	//}

	protected override async Task OnInitializedAsync()
	{
		RefreshStats();
		var songData = fileOperationsService.GetData();
		_audioAddress = "./Audio/" + songData._songData._fileName;
		_songName = songData._songData._songName;
		_editionDate = songData._updateDate.DayOfWeek + " " + songData._updateDate.Date.ToString("d", new CultureInfo("en-GB"));
		_editionVersion = songData._version;
		_jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/SoundScripts.js");
		await JsRuntime.InvokeVoidAsync("console.log", "OnInitializedAsync");
		await LoadLocalStorage();
		SetCookiesDebugValues("");
		HandleStorageState();
		RefreshStats();
		StateHasChanged();
	}


	private void HandleStorageState()
	{
		Console.WriteLine("Cookies version: " + _localVersion);
		Console.WriteLine("Server version: " + _editionVersion);

		_currentResults = _localResults;

		if (_localLastVersionWon +1  < _editionVersion )
		{
			_streak = 0;
		}
		else
		{
			_streak = _localStreak;
		}

		_lastVersionWon = _localLastVersionWon;

		if (_localVersion == _editionVersion)
		{
			_guesses = _localGuesses;

			for (int i = 0; i <= _guesses.Length; i++)
			{
				BufferValue += _bufferPart * _sectionDurations[i];
			}

			HandleSkipPosition();

			if (_localGameComplete)
				CompleteGame();
		}

		loading = false;
		loaded = true;
		StateHasChanged();
	}

	private async Task LoadLocalStorage()
	{
		try
		{
			var version = await ProtectedLocalStore.GetAsync<int>("version");
			_localVersion = version.Success ? version.Value : 1;
			if (!version.Success)
				await JsRuntime.InvokeVoidAsync("console.log", "version.Value == null");
		}
		catch (Exception e)
		{
			await JsRuntime.InvokeVoidAsync("console.log", $"ProtectedLocalStore error: {e.Message}");
			try
			{
				await ProtectedLocalStore.DeleteAsync("version");
			}
			catch (Exception iex)
			{
				await JsRuntime.InvokeVoidAsync("console.log", $"Browser storage Delete error: {iex.Message}");
			}

			_localVersion = 1;
		}

		try
		{
			var guesses = await ProtectedLocalStore.GetAsync<string>("guesses");
			_localGuesses = guesses.Success && guesses.Value != null ? guesses.Value : "";
			if (guesses.Value == null)
				await JsRuntime.InvokeVoidAsync("console.log", "guesses.Value == null");
		}
		catch (Exception e)
		{
			await JsRuntime.InvokeVoidAsync("console.log", $"ProtectedLocalStore error: {e.Message}");
			try
			{
				await ProtectedLocalStore.DeleteAsync("guesses");
			}
			catch (Exception iex)
			{
				await JsRuntime.InvokeVoidAsync("console.log", $"Browser storage Delete error: {iex.Message}");
			}
			_localGuesses = "";
		}

		try
		{
			var complete = await ProtectedLocalStore.GetAsync<bool>("gameComplete");
			_localGameComplete = complete.Success ? complete.Value : false;
			if (!complete.Success)
				await JsRuntime.InvokeVoidAsync("console.log", "complete.Value == null");
		}
		catch (Exception e)
		{
			await JsRuntime.InvokeVoidAsync("console.log", $"ProtectedLocalStore error: {e.Message}");
			try
			{
				await ProtectedLocalStore.DeleteAsync("gameComplete");
			}
			catch (Exception iex)
			{
				await JsRuntime.InvokeVoidAsync("console.log", $"Browser storage Delete error: {iex.Message}");
			}
			_localGameComplete = false;
		}

		try
		{
			var results = await ProtectedLocalStore.GetAsync<int[]>("results");
			_localResults = results.Success && results.Value != null ? results.Value : new int[6];
			if (results.Value == null)
				await JsRuntime.InvokeVoidAsync("console.log", "results.Value == null");
		}
		catch (Exception e)
		{
			await JsRuntime.InvokeVoidAsync("console.log", $"ProtectedLocalStore error: {e.Message}");
			try
			{
				await ProtectedLocalStore.DeleteAsync("results");
			}
			catch (Exception iex)
			{
				await JsRuntime.InvokeVoidAsync("console.log", $"Browser storage Delete error: {iex.Message}");
			}
			_localResults = new int[6];
		}

		try
		{
			var lastVersionCompleted = await ProtectedLocalStore.GetAsync<int>("lastVersionCompleted");
			_localLastVersionWon = lastVersionCompleted.Success ? lastVersionCompleted.Value : -1;
			if (!lastVersionCompleted.Success)
				await JsRuntime.InvokeVoidAsync("console.log", "!lastVersionCompleted.Success");
		}
		catch (Exception e)
		{
			await JsRuntime.InvokeVoidAsync("console.log", $"ProtectedLocalStore error: {e.Message}");
			try
			{
				await ProtectedLocalStore.DeleteAsync("lastVersionCompleted");
			}
			catch (Exception iex)
			{
				await JsRuntime.InvokeVoidAsync("console.log", $"Browser storage Delete error: {iex.Message}");
			}

			_localLastVersionWon = -1;
		}

		try
		{
			var streak = await ProtectedLocalStore.GetAsync<int>("streak");
			_localStreak = streak.Success ? streak.Value : 0;
			if (!streak.Success)
				await JsRuntime.InvokeVoidAsync("console.log", "!streak.Success");
		}
		catch (Exception e)
		{
			await JsRuntime.InvokeVoidAsync("console.log", $"ProtectedLocalStore error: {e.Message}");
			try
			{
				await ProtectedLocalStore.DeleteAsync("streak");
			}
			catch (Exception iex)
			{
				await JsRuntime.InvokeVoidAsync("console.log", $"Browser storage Delete error: {iex.Message}");
			}

			_localLastVersionWon = 0;
		}
	}

	private async Task UpdateLocalStorage()
	{
		await ProtectedLocalStore.SetAsync("version", _editionVersion);
		await ProtectedLocalStore.SetAsync("guesses", _guesses);
		await ProtectedLocalStore.SetAsync("gameComplete", GameCompleted);
		await ProtectedLocalStore.SetAsync("results", _currentResults);
		await ProtectedLocalStore.SetAsync("lastVersionCompleted", _lastVersionWon);
		await ProtectedLocalStore.SetAsync("streak", _streak);
	}

	private void SetCookiesDebugValues(string title)
	{
		_cookiesDebugDisplay+= title + "version: " + _localVersion + "\nguesses: " + _localGuesses + "\ngameComplete: " + _localGameComplete + "\nlocalResults(failures): " + _localResults[0] + _localResults[1] + _localResults[2] + _localResults[3] + _localResults[4] + _localResults[5]+ "----";
	}

	private async Task<IEnumerable<string>> AutoComplete(string search)
	{
		return fileOperationsService.GetSearchSongs(search);
	}

	private async void HandleOnPlayChanged()
	{
		if (_playSwitch)
		{
			Console.WriteLine("Play button set");
			CallJsFunc("PlaySound");

			//set timer
			var timer = new PeriodicTimer(TimeSpan.FromMilliseconds(_bufferTick));
			while (await timer.WaitForNextTickAsync() && Value <= BufferValue && PlaySwitch)
			{
				Value += 1;
				StateHasChanged();
			}

			PlaySwitch = false;
		}
		else
		{
			Console.WriteLine("Play button uset");
			CallJsFunc("StopSound");
			Value = 0;
			StateHasChanged();
		}
	}

	private void OnOpenHelp()
	{
		_helpVisible = true;

		StateHasChanged();
	}

	private void OnOpenStats()
	{
		_statsVisible = true;

		StateHasChanged();
	}

	private void OnCloseOverlay()
	{
		_helpVisible = false;
		_statsVisible = false;

		StateHasChanged();
	}


	private void HandleOnSkip()
	{
		GuessText = string.Empty;
		_guesses += 's';
		BufferValue += _bufferPart * _sectionDurations[_guesses.Length];
		if (_guesses.Length >= (_numGuesses))
			_localResults[0] += 1;
		HandleSkipPosition();
	}

	private async void HandleOnGuess()
	{
		var song = _songName.Trim();

		if (GuessText == null || GuessText.Length == 0)
			return;

		if (string.Compare(GuessText.Trim(), song, StringComparison.InvariantCultureIgnoreCase) == 0)
		{
			_guesses += 'w';
			_localResults[_guesses.Length] += 1;

			CompleteGame();
			await UpdateLocalStorage();
		}
		else
		{
			_guesses += 'g';
			BufferValue += _bufferPart * _sectionDurations[_guesses.Length];
			if (_guesses.Length >= (_numGuesses))
				_localResults[0] += 1;
			HandleSkipPosition();
		}
	}

	private async void HandleSkipPosition()
	{
		switch (_guesses.Length)
		{
			case 0:
				BarColour = Color.Success;
				break;
			case 1:
				BarColour = Color.Info;
				break;
			case 2:
				BarColour = Color.Warning;
				break;
			case 3:
				BarColour = Color.Secondary;
				break;
			case 4:
				BarColour = Color.Error;
				break;
			default:
				BarColour = Color.Primary;
				break;
		}

		if (_guesses.Length >= (_numGuesses))
		{
			if (!GameCompleted)
			{
				CompleteGame();
			}
		}
		else if (_guesses.Length == _numGuesses - 1)
		{
			Skip = "Give up";
		}

		await UpdateLocalStorage();

		StateHasChanged();
	}

	private void CompleteGame()
	{
		var win = _guesses.EndsWith('w');

		GuessText = _songName;
		GameCompleted = true;


		if ( _editionVersion != _lastVersionWon)
		{
			if (win)
			{
				_streak += 1;
				_lastVersionWon = _editionVersion;
			}
			else
			{
				_streak = 0;
			}
		}

		RefreshStats();

		ResultText = ResultGenerator.GetResultText(_numGuesses, _guesses, _editionDate);

		chipColor = win ? Color.Success : Color.Error;
		chipText = win ? "Success" : "Failure";
		BarColour = Color.Primary;
		gameIncomplete = false;
		BufferValue = 100;

		_statsVisible = true;
	}

	private void RefreshStats()
	{
		var results = _localResults != null ? _localResults : new int[6];

		_gamesPlayed = 0;
		foreach (var games in results)
		{
			_gamesPlayed += games;
		}

		if (_gamesPlayed != 0)
		{
			var losePercentage = (float)results[0] / _gamesPlayed;
			_winPercentage = 100 - (int)(losePercentage * 100);
		}

		var withoutCurrent = new int[5];
		Array.Copy(results, 1, withoutCurrent, 0, 5);
		var mainArray = withoutCurrent.Select(x => (double)x).ToArray();

		var current = new double[5];

		if (GameCompleted)
		{
			if (_guesses.EndsWith('w'))
			{
				current[_guesses.Length - 1] = (double)results[_guesses.Length];
				mainArray[_guesses.Length - 1] = 0;
			}
		}

		Series = new List<ChartSeries>()
		{
			new ChartSeries() { Name = "Current", Data = current },
			new ChartSeries() { Name = "Guess Distribution", Data = mainArray }
		};

		XAxisLabels = new string[]{ "1", "2", "3", "4", "5" };
	}

	private void CallJsFunc(string funcName)
	{
		_jsModule.InvokeVoidAsync(funcName);
	}
}